@import "./color";
@import "./typography";
@import "./fields";
$mobielWidth: 800px;
.logo
{
    padding: 10px;
    border-radius: 50%;
    background-color: $main;
    color: $white;
    width: fit-content;
    margin: 0 auto;
}
.title
{
    color: $main;
    text-align: center;
}

.hide
{
    left: -100px!important;
    position: absolute;
    top: 10px;
    left: 10px;
    background: $main;
    color: white;
    display: flex;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all ease-in 0.1s;
}

.alert
{
    position: absolute;
    top: 10px;
    left: 10px;
    background: $main;
    color: white;
    display: flex;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all ease-in 0.1s;
   
    p
    {
        margin-left: 10px;
    }
}

.mobile
{
    display: none;
    @media screen and (max-width: $mobielWidth) {
        display: block;
    }
}
table {
    border-spacing: 0;
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
    tr {
        :last-child {
        td {
            border-bottom: 0;
        }
        }
    }

    th,
    td {
        margin: 0;
        padding: 0.5rem;
        border-bottom: 1px solid black;
        border-right: 1px solid black;

        :last-child {
        border-right: 0;
        }
    }
}
@import "./pages/dashboard.scss";
@import "./pages/index.scss";
@import "./components/header.scss";
@import "./pages/dashboard/index.scss";
@import "./pages/dashboard/customer.scss";
